<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sisponto - Início</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
    </head>
    <body ng-app="sisponto" ng-controller="sisponto-controller-index">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">SISPONTO</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Início</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Funcionários</a></li>
                    <li><a href="#">Histórico</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
                </ul>
            </div>
        </nav>

        <div id="main" class="container-fluid">
            <div id="top" class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="input-group h2">
                        <input name="data[search]" ng-model="procurar" class="form-control" id="search" type="text" placeholder="Pesquisar Projeto">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div> <!-- /#top -->
            <div id="btns" class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <a class="btn btn-primary addCliFuncProj" href="#" role="button">Adicionar Projeto</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary addCliFuncProj" href="#" role="button">Adicionar Cliente</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary addCliFuncProj" href="#" role="button">Adicionar Funcionário</a>
                </div>
                <div class="col-md-3"></div>
            </div>
            <hr />
            <div class="row">
                <div class="table-responsive col-md-12" id="listaProjetos">
                    <table class="table table-striped" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="table-header">
                                <th ng-click="ordenar('id')">Código</th>
                                <th>Descrição</th>
                                <th ng-click="ordenar('perfil')">Perfil</th>
                                <th>Cliente</th>
                                <th class="actions">Ações</th>
                             </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="registro in lista|filter:procurar|orderBy:sortKey:reverse|itemsPerPage:1">
                                <td>{{registro.id}}</td>
                                <td>{{registro.descricao}}</td>
                                <td>{{registro.perfil}}</td>
                                <td>{{registro.cliente}}</td>
                                <td class="actions">
                                    <a class="btn btn-success btn-xs" href="view.html">Visualizar</a>
                                    <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
                                    <a class="btn btn-danger btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
                </div>
            </div> <!-- /#list -->
            <div id="bottom" class="row">
                
            </div> <!-- /#bottom -->
            <!-- Modal -->
            <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modalLabel">Excluir Projeto</h4>
                        </div>
                        <div class="modal-body">Deseja realmente excluir este projeto? </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Sim</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- /#main -->
    </body>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/validate/index.js"></script>
    <script src="js/validate/dirPagination.js"></script>
</html>