<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sisponto - FuncionárioxProjeto</title>
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/funcionario-projeto.css"/>
    </head>
    <body ng-app="sisponto" ng-controller="sisponto-controller-funcionarioprojeto">
        {% include 'navbar.html' %}
        <div id="main" class="container-fluid">
            <form id="frmFuncProj" method="POST">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="form-group col-md-4 col-sd-12 colCentered text-center">
                        <label for="slctFuncionarios">Funcionário:</label>
                        <select class="form-control" id="slctFuncionarios">
                            <option value="{{ '{{funcionario.id}}'}}" ng-repeat="funcionario in funcionarios">{{ '{{funcionario.nome}}' }}</option>
                        </select>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="form-group col-md-4 col-sd-12 text-center">
                        <label for="slctProjetos">Projeto:</label>
                        <select class="form-control" id="slctProjetos">
                            <option value="{{ '{{projeto.id}}' }}" ng-repeat="projeto in projetos">{{ '{{projeto.id}}' }}</option>
                        </select>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="checkbox col-md-4 col-sd-12">
                        <label><input type="checkbox" name="chkCoordenador" id="checkboxCoordenador" value="T">Coordenador</label>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="col-md-4"></div>
                <div class="checkbox col-md-4 col-sd-12">
                    <button type="submit" ng-click="cadastrarRelUsuProj()" class="btn btn-primary">Cadastrar</button>
                </div>
                <div class="col-md-4"></div>
            </form>
            <div class="row">
                <div class="table-responsive col-md-12" id="listaProjetos">
                    <table class="table table-striped" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="table-header">
                                <th>Código Funcionário</th>
                                <th>Código Projeto</th>
                                <th>Nome do Funcionário</th>
                                <th>Descrição do projeto</th>
                                <th class="actions">Ação</th>
                             </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="relacao in relacoes">
                                <td>{{ '{{relacao.codigoUsu}}' }}</td>
                                <td>{{ '{{relacao.codigoProj}}' }}</td>
                                <td>{{ '{{relacao.nomeFunc}}' }}</td>
                                <td>{{ '{{relacao.descricaoSubstr}}' }}</td>
                                <td class="actions">
                                    <a class="btn btn-danger btn-xs"  href="#" ng-click="delRelacao(this)" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- /#list -->
            <!-- Modal exclusão -->
            <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modalLabel">Retirar Funcionário do Projeto</h4>
                        </div>
                        <div class="modal-body">
                            <table border="0">
                                <tr>
                                    <td class="alinharDireita"><label>Funcionário: </label></td>
                                    <td><input type="text" name="txtFunc" class="form-control" id="txtFunc" /></td>
                                </tr>
                                <tr>
                                    <td class="alinharDireita"><label>Projeto: </label></td>
                                    <td><textarea type="text" name="txtDesc" class="form-control" id="txtDesc" cols="50" rows="5"></textarea></td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-click="deletarRelacao()" class="btn btn-primary">Sim</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- /#main -->
    </body>
    <script src="../static/js/jquery-2.1.4.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/angular.min.js"></script>
    <script src="../static/js/validate/funcionario-projeto.js"></script>
</html>