<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sisponto - Relatórios</title>
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/relatorios.css"/>
    </head>
    <body ng-app="sisponto" ng-controller="sisponto-controller-relatorios">
        {% include 'navbar.html' %}

        <div id="main" class="container-fluid">
            <div class="row">
                <div class="table-responsive col-md-12" id="tableHistorico">
                    <table class="table table-striped" id="tblRelatorio" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="table-header">
                                <th>Código</th>
                                <th>Data/Hora Início</th>
                                <th>Data/Hora Fim</th>
                                <th>Horas de Tarefas</th>
                                <th>Horas da Equipe</th>
                                <th>Atividade</th>
                                <th>Projeto</th>
                             </tr>
                        </thead>
                        <tbody>
                            {% for item in listaRegistrosUsuario %}
                                {% set substr = item.descricaoProj %}
                                {% if item.datahr_inicio.split(' ')[0].split('-')[2] == item.datahr_fim.split(' ')[0].split('-')[2] %}
                                    {% set horaIni = item.datahr_inicio.split(' ')[1].replace(':', '') %}
                                    {% set horaFim = item.datahr_fim.split(' ')[1].replace(':', '') %}
                                    {% set resul = (horaFim|int) - (horaIni|int) %}
                                {% else %}
                                    {% set diferencaDias = (item.datahr_fim.split(' ')[0].split('-')[2]|int) - (item.datahr_inicio.split(' ')[0].split('-')[2]|int) %}
                                    {% set horaIni = item.datahr_inicio.split(' ')[1].replace(':', '') %}
                                    {% set horaFim = item.datahr_fim.split(' ')[1].replace(':', '') %}
                                    {% if horaIni > horaFim %}
                                        {% set resul = diferencaDias*24*100 - (horaIni|int - horaFim|int) %}
                                    {% else %}
                                        {% set resul = diferencaDias*24*100 + (horaFim|int - horaIni|int) %}
                                    {% endif %}
                                {% endif %}
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.datahr_inicio}}</td>
                                <td>{{item.datahr_fim}}</td>
                                <td id="colHoras">{{resul}}</td>
                                <td></td>
                                <td>{{item.descricaoAtv}}</td>
                                <td>{{substr[0:20]}}...</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- /#list -->
            <div id="bottom" class="row">
                
            </div> <!-- /#bottom -->
        </div>  <!-- /#main -->
    </body>
    <script src="../static/js/jquery-2.1.4.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/angular.min.js"></script>
    <script src="../static/js/validate/dirPagination.js"></script>
    <script src="../static/js/validate/relatorios.js"></script>
</html>