<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sisponto - Relatórios</title>
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/relatorios.css"/>
    </head>
    <body ng-app="sisponto" ng-controller="sisponto-controller-relatorios">
        {% include 'navbar.html' %}

        <div id="main" class="container-fluid">
            <div id="tituloHoras" class="row">
                <div class="col-md-12 col-sd-12">
                    <h4 class="form-title">Horas por Equipe</h4>
                <hr />
                </div>
            </div>
            <div class="row">
                <div class="table-responsive col-md-12" id="tableHistorico">
                    <table class="table table-striped" id="tblRelatorio" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="table-header">
                                <th>Código do Projeto</th>
                                <th>Horas de Tarefas</th>
                             </tr>
                        </thead>
                        <tbody>
                            {% for i in range(matriz|length) %}
                                <tr>
                                    <td>{{matriz[i][0]}}</td>
                                    <td>{{matriz[i][1]}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- /#list -->
            <hr />
            <div id="tituloHoras" class="row">
                <div class="col-md-12 col-sd-12">
                    <h4 class="form-title">Suas horas de tarefas</h4>
                <hr />
                </div>
            </div>
            <div class="row">
                <div class="table-responsive col-md-12" id="tableHistorico">
                    <table class="table table-striped" id="tblRelatorio" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="table-header">
                                <th>Código</th>
                                <th>Data/Hora Início</th>
                                <th>Data/Hora Fim</th>
                                <th>Horas de Tarefas</th>
                                <th>Atividade</th>
                                <th>Projeto</th>
                             </tr>
                        </thead>
                        <tbody>
                            {% for i in range(listaRegistrosUsuario|length) %}
                                {% set substr = listaRegistrosUsuario[i].descricaoProj %}
                            <tr>
                                <td>{{listaRegistrosUsuario[i].id}}</td>
                                <td>{{listaRegistrosUsuario[i].datahr_inicio}}</td>
                                <td>{{listaRegistrosUsuario[i].datahr_fim}}</td>
                                <td>{{listaCalculos[i]}}</td>
                                <td>{{listaRegistrosUsuario[i].descricaoAtv}}</td>
                                <td>{{substr[0:30]}}...</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- /#list -->
            <div id="bottom" class="row">
                
            </div> <!-- /#bottom -->
        </div>  <!-- /#main -->
    </body>
    <script src="../static/js/jquery-2.1.4.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/angular.min.js"></script>
    <script src="../static/js/validate/dirPagination.js"></script>
    <script src="../static/js/validate/relatorios.js"></script>
</html>