{% block navbar %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">SISPONTO</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('listagem.index', username=current_user.username) }}">Início</a></li>
            {% if current_user.is_admin %}
            <li><a href="clientes">Clientes</a></li>
            <li><a href="funcionarios">Funcionários</a></li>
            <li><a href="projetos">Projetos</a></li>
            {% endif %}
            <li><a href="funcionario-projeto">Funcionário x Projeto</a></li>
            <li><a href="lancamentos">Lançamentos</a></li>
            <li><a href="historico">Histórico</a></li>
            <li><a href="alterarsenha">Alterar senha</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
        </ul>
    </div>
</nav>

{% endblock %}